*.aux
*.vo
*.d
*.glob
*.cmi
*.cmo
Makefile.coq
Makefile.coq.bak
Makefile.coq.conf
fitch_first_order.v
fitch_first_order.log
fitch_first_order.tex
fitch_first_order.aux
fitch_first_order.pdf
_CoqProject
